<div class="slide parallax-window" data-parallax="scroll" data-image-src="<%= image_path('show/ende.jpg') %>">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h1><%= t "cg.copy.teams.index.teams" %></h1>
    </div>
  </div>
</div>

<div class="row content">
  <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-1">
    <h1 class="margin-top-0"><%= t "cg.copy.teams.index.what_is_a_team" %></h1>

    <p>
      <%= t("cg.copy.teams.index.a_team_is_a_group") %>
    </p>

    <h1 class="em-margin-below">
      <%= link_to t("cg.copy.teams.index.not_ready_yet"), "/#{::I18n.locale}/preparation" %>
    </h1>

    <h1><%= t "cg.copy.teams.index.ready_yet" %></h1>

    <p>
      <%= t("cg.copy.teams.index.form_a_team").html_safe %>
    </p>

    <div class="teams">
      <% if @teams && @teams.any? %>
        <% @teams.in_groups_of(2) do |teams| %>
          <% for team in teams %>
            <% next unless team %>
            <div class="col-sm-12 team">
              <%= link_to image_tag(team.image.url, class: 'img-responsive image'), "/#{::I18n.locale}/teams/#{team.id}" %>
              <h1><%= link_to team.name, "/#{::I18n.locale}/teams/#{team.id}" %></h1>
              <p><%= team.nature %></p>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="text-center">
      <%= will_paginate @teams, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>
