<% content_for :title do %>
  <%= @team.name %>
<% end %>

<% content_for :meta do %>

  <%
  if @team.nature && @team.nature.length > 0
    meta_description = @team.nature
  else
    meta_description = t('cg.site_description')
  end
  %>

  <meta name="description" content="<%= meta_description %>" />
  <meta property="og:description" content="<%= meta_description %>" />

  <% if @team.image_file_name %>
    <meta property="og:image" content="<%= "#{request.protocol}#{request.host_with_port}#{@team.image.url(:original)}" %>" />
  <% end %>

<% end %>

<div class="row content">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="row">
      <% if @team.image_file_name %>
        <div class="col-sm-4 no-side-padding">
          <%= image_tag @team.image.url(:small), class: 'img-responsive avatar' %>
        </div>
      <% else %>
        <div class="col-sm-4" style="background: #f1f1f1;">
          <%= image_tag @team.image.url(:small), class: 'img-responsive avatar' %>
          <p class="text-center"><%= link_to t("cg.copy.teams.edit.upload_your_own"), "/#{::I18n.locale}/teams/#{@team.id}/edit" %></p>
        </div>
      <% end %>

      <div class="col-sm-8">
        <h1 class="margin-top-0"><%= @team.name %></h1>
        <%= link_to t("cg.copy.teams.edit.edit_team_profile"), "/#{::I18n.locale}/teams/#{@team.id}/edit", class: 'margin-bottom-15 btn btn-magenta pull-right' %>

        <div class="social-media-sharing padding-top-bottom">
          <a href="https://twitter.com/intent/tweet?text=<%= @team.tweet_text %>&url=<%= team_url(:locale => I18n.locale.to_s, :id => @team.id) %>&via=Climate_Games&related=Climate_Games,HackCOP21"
            class="btn btn-large share-button twitter-share-button" target="_blank"><span class="fa fa-twitter"></span> Tweet</a>
          <a href="http://www.facebook.com/sharer.php?u=<%= team_url(:locale => I18n.locale.to_s, :id => @team.id) %>"
            class="btn btn-large share-button facebook-share-button" target="_blank"><span class="fa fa-facebook-official"></span> Share on Facebook</a>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <% if @team.nature %>
              <p><%= @team.nature %></p>
            <% else %>
              <p><%= t("cg.copy.teams.edit.this_team_has_an_identity") %></p>
              <p><%= t("cg.copy.teams.edit.if_this_is_your") %> <%= link_to t("cg.copy.teams.edit.complete_your_team_profile"), "/#{::I18n.locale}/teams/#{@team.id}/edit" %></p>
            <% end %>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <% if @team && @team.approved_reports.any? %>
          <h2 class="margin-bottom-15"><%= t('cg.copy.teams.show.team_reports', count: @team.approved_reports.count) %></h2>
          <% for report in @team.approved_reports %>
            <% report_link = "/#{::I18n.locale}/reports/#{report.id}" %>

            <div class="row margin-bottom-15">
              <div class="col-xs-4" style="background: #f1f1f1;">
                <%= link_to image_tag(report.primary_picture_url(:small), class: 'img-responsive report_avatar'), report_link %>
              </div>

              <div class="col-xs-8">
                <h3 class="margin-top-0">
                  <%= link_to(report.title, report_link) %>
                </h3>

                <% if report && report.report_awards.any? %>
                  <p><%= t('cg.copy.teams.show.nominated_for') %> <%= report.report_awards.map {|ra| ra.award.name}.to_sentence %></p>
                <% end %>
              </div>
            </div>

          <% end %>
        <% end %>

        <% if @team && @team.pending_reports_count > 0 %>
          <p>
            <strong><%= t('cg.copy.teams.show.pending_reports', count: @team.pending_reports_count) %></strong>
          </p>
        <% end %>

      </div>
    </div>

    <div class="row margin-top-10">
      <%= link_to t('cg.reports.add_report'), "/#{::I18n.locale}/reports/new", class: 'btn btn-large btn-magenta btn-add-report no-right-margin' %>
    </div>

  </div>
</div>